{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/headerRegistrationAndLogin.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styleRegistrationAndLogin.css') }}">
{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <header>
        <a href="{{ path('app_accueil') }}">
            <img src="{{ asset('images/ico_charmander.webp') }}" alt="Logo de Boutique Pokemon">
        </a>
        <h1>Register</h1>
        <div class="vide">

        </div>
    </header>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nomPrenom) }}
        {{ form_row(registrationForm.identifiant) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.avatar) }}
        {{ form_row(registrationForm.agreeTerms) }}
        <button type="submit" class="btn btn-lg">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
