{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleProfil.css') }}">

{% endblock %}
{% block body %}
    <header>

        <a href="{{ path('app_accueil') }}">
            <img src="{{ asset('images/ico_charmander.webp') }}" alt="Logo de Boutique Pokemon">
        </a>

        <h1> Mon profil</h1>

        <nav class="menu">
            {% if app.user %}
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profil
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ path('app_mon_profil', {'id':monProfil.id}) }}">Mon profil</a>
                        <a class="dropdown-item" href="#">Mes commandes</a>
                        <a class="dropdown-item" href="#">Ma liste d'envie</a>
                    </div>
                </div>
                <div class="panier">
                    <a href="#">Mon panier</a>
                </div>
                <div class="deconnexion">
                    <a href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}
        </nav>

    </header>

    {{ form_start(form) }}

        {{ form_row(form._token) }}

        {{ form_row(form.nomPrenom) }}

        {{ form_row(form.identifiant) }}

        {{ form_row(form.email) }}

        {{ form_row(form.password) }}

        <div class="credit">
           <p>Crédit : {{ monProfil.credit }}</p>
        </div>

        <input type="submit" value="enregistrer">
    {{ form_end(form) }}

{% endblock %}
