{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/styleAccueil.css') }}">
{% endblock %}

{% block body %}
    <h1> Boutique Pokemon</h1>

    {% if app.user %}

        <header>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profil
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{{ path('app_mon_profil', {'id':utilisateur.id}) }}">Mon profil</a>
                    <a class="dropdown-item" href="#">Mes commandes</a>
                    <a class="dropdown-item" href="#">Ma liste d'envie</a>
                </div>
            </div>

            <div class="panier">
                <a href="#">Mon panier</a>
            </div>
            <div class="deconnexion">
                <a href="{{ path('app_logout') }}">Se déconnecter</a>
            </div>

        </header>

    {% else %}
        <header>
            <div class="enregistrer">
                <a href="{{ path('app_register') }}">S'enregistrer</a>
            </div>
            <div class="inscription">
                <a href="{{ path('app_login') }}">S'identifier</a>
            </div>
        </header
    {% endif %}

    <div class="categories">
        {% for categorie in categories %}
            <a href="#">{{ categorie.libelleCategorie }}</a>
        {% endfor %}
    </div>

    <div class="articles">

        {% for article in articles %}

            <div class="card" style="width: 28rem;">
                <a href="{{ path('article_info', {'id': article.id}) }}">
                    <img src="{{ article.imageArticle }}" class="card-img-top" alt="{{ article.libelleArticle }}">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ article.libelleArticle }}</h5>
                    <p class="card-text">{{ article.description }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ article.prix }} poképièces</li>
                    <li class="list-group-item">
                        {% if article.qteProduit != 0 %}
                            <label>
                                Quantité de produit
                                <select>
                                    {% for i in 1..article.qteProduit %}
                                        <option value="{{ i }}">{{ i }}</option>
                                    {% endfor %}
                                </select>
                            </label>
                        {% endif %}
                    </li>
                    <li class="list-group-item">Nombre de commentaires : 0</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Acheter</a>
                    <a href="#" class="card-link">En savoir plus</a>
                </div>
            </div>

        {% endfor %}

    </div>
{% endblock %}
